
html
  head
    !=css('app.css')
  body
    #header
        h1 I can see clearly now.
    #wrap
      #sidebar
        h2 Table of Contents
        ul
          li
            a(href='#') Link 1
          li
            a(href='#') Link 2
          | ...
      #content
        canvas#mainCanvas
    #footer
      p Footer
    != js('app.js')
