include utils/mixins

html
  head
    title Eigen see clearly now
    !=css('app.css')
  body
    #header
        h1
          a(href='/') Eigen see clearly now
    #wrap
      #sidebar
        h3 Table of Contents
        ul#table_of_contents
      #content
        h4#noWebGL.hidden.text-danger
          | It looks like your
          = " "
          span#noWebGLReason
          = " "
          | doesn't support
          = " "
          a(href='http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation') WebGL!
          = "  "
          | Graphics are much faster if you use a browser with WebGL support.
          = "  "
          a(href='http://get.webgl.org/') Get it now to shut me up forever!
          = "  "
          | Or
          = " "
          a#noWebGLDismiss(href='#') shut me up anyways!
        block content
    //#footer
      p Footer

    != js('app.js')
    block morefoot
