$header-color: #ddd

$sidebar-color: #c9c
$sidebar-width: 250px

$content-color: #cc9
$content-padding: 50px

$footer-color: #9c9

body, html
    margin: 0
    padding: 0
    color: #000
    background: $sidebar-color

    #header
        background: $header-color

    #wrap
        padding-right: $sidebar-width
        #sidebar
            background: $sidebar-color
            float: left
            width: $sidebar-width
        #content
            padding: 10px
            margin: 0 (-$sidebar-width - 2*$content-padding) 0 auto
            width: 100%
            background: $content-color
            float: right
    #footer
        background: $footer-color
        clear: both

