///////////////////////////////////////////////////////////////////////////////
// page layout
///////////////////////////////////////////////////////////////////////////////

$header-color: #993366
$header-padding: 20px

$sidebar-color: #F6F6F6
$sidebar-width: 250px
$sidebar-padding: 25px

$content-color: #F0F0F0
$content-padding: 50px

$footer-color: #9c9

body, html
    margin: 0
    padding: 0
    color: #000
    background: $sidebar-color

    #header
        padding: $header-padding
        background: $header-color

    #wrap
        padding-right: $sidebar-width
        #sidebar
            //position: fixed
            position: absolute
            background: $sidebar-color
            width: $sidebar-width
            padding: $sidebar-padding
        #content
            position: absolute
            left: $sidebar-width
            right: 0
            padding: $content-padding
            background: $content-color

///////////////////////////////////////////////////////////////////////////////
// inputs - sliders
///////////////////////////////////////////////////////////////////////////////

.slider-input
    .slider-name
        margin-right: 10px
.slider-Xinput
    color: red
.slider-Yinput
    color: green
.slider-Zinput
    color: blue

