extends ../../layout

block morehead
  include ../../includes/mathjax
  - var bodyClass = 'vector_spaces-span_game'

block content
  - var options = {}
  - options.min = -5
  - options.max = 5
  - options.step = 1
  - options.inline = true
  - options.wellStyle = 'margin-left: 5px;'

  h2.text-center Reach the target!

  h1.text-center $c_u \cdot \vec{u} + c_v \cdot \vec{v} + c_w \cdot \vec{w} = \vec{t}$

  hr

  .row(style='position:relative')
    .col-md-6
      canvas#canvas.center

    .col-md-6
      .row
        .col-md-6
          span $c_u = $
          - options.color = CONSTANTS.COLORS.LIGHT_RED
          +constant_slider_input('coefficientU', options)
          span='  ,'
        .col-md-6
          p.basisEquation#uEquation

      .row
        .col-md-6
          span $c_v = $
          - options.color = CONSTANTS.COLORS.LIGHT_GREEN
          +constant_slider_input('coefficientV', options)
          span='  ,'
        .col-md-6
          p.basisEquation#vEquation

      .row
        .col-md-6
          span $c_w = $
          - options.color = CONSTANTS.COLORS.LIGHT_BLUE
          +constant_slider_input('coefficientW', options)
          span='  ,'
        .col-md-6
          p.basisEquation#wEquation

      .row
        h4#targetEquation.text-center

      hr

      #curEquationContainer.row
        p#curEquation

      hr
      .row.center
        button.btn.btn-default#reset_game Reset
