body.vector_spaces-span_game

  .incorrect
    background-color: $WHITE
  .correct
    background-color: $LIGHT_YELLOW

  .constant-input
    @include calc(width, unquote('100% - 50px'))

  #hint
    margin-top: 20px
