
extends ../../layout

block morehead
  include ../../includes/mathjax
  - var bodyClass = 'matrices-intro'

block content
  .row
    .col-md-6
      canvas#canvas.center

    - var options = {}
    - options.min = -100
    - options.max = 100
    - options.step = 10
    - options.matrix = {}
    - options.matrix.xx = 60
    - options.matrix.xy = 20
    - options.matrix.xz = 20
    - options.matrix.yx = 20
    - options.matrix.yy = 60
    - options.matrix.yz = 20
    - options.matrix.zx = 20
    - options.matrix.zy = 20
    - options.matrix.zz = 60

    .col-md-6
      +matrix_input('matrixInput', options)
