
extends ../../layout

block morehead
  include ../../includes/mathjax
  - var bodyClass = 'matrices-intro'

block content
  .row
    .col-md-6
      canvas#canvas.center

    - var options = {}
    - options.min = -100
    - options.max = 100
    - options.step = 10
    - options.matrix = {}
    - options.matrix.xx = 50
    - options.matrix.xy = 0
    - options.matrix.xz = 0
    - options.matrix.yx = 50
    - options.matrix.yy = 50
    - options.matrix.yz = 0
    - options.matrix.zx = 0
    - options.matrix.zy = 0
    - options.matrix.zz = 50

    .col-md-6
      +matrix_input('matrixInput', options)
