extends ../../layout

block content
  .row
    .col-md-3
      canvas#canvasA(style='width:300px;height:300px')
    .col-md-3
      canvas#canvasB(style='width:300px;height:300px')
    .col-md-6
      canvas#canvasC(style='width:300px;height:300px')

   .row
      h4 Use arrow keys to rotate!

    - var min = -50
    - var max = 50
    - var step = 10

    - var xvalA = 25
    - var yvalA = 25
    - var zvalA = 25

    .col-md-3
      +slider_input('vectorA', min, max, step, xvalA, yvalA, zvalA)

    - var xvalB = 25
    - var yvalB = 25
    - var zvalB = -25

    .col-md-3
      +slider_input('vectorB', min, max, step, xvalA, yvalB, zvalB)

    - var xval = xvalA + xvalB
    - var yval = yvalA + zvalB
    - var zval = zvalA + zvalB

    .col-md-6
      +slider_input('vectorSum', 2 * min, 2 * max, step, xval, yval, zval)

block morefoot
  script.
    $(document).ready(function() {
      init_vector_addition();
    });
