extends ../../layout

block content
  .row
    .col-md-6
      canvas#canvas(style='width:500px;height:500px')
      h4 Use arrow keys to rotate!

    - var min = -100
    - var max = 100
    - var step = 10

    - var xval = 50
    - var yval = 50
    - var zval = 0

    .col-md-6
      +slider_input(min, max, step, xval, yval, zval)

block morefoot
  script.
    $(document).ready(function() {
      init_vector_intro();
    });
