extends ../../layout

block content
  .row
    .col-md-6
      canvas#canvas(style='width:500px;height:500px')
      h4 Use arrow keys to rotate!

    - var options = {}
    - options.min = -100
    - options.max = 100
    - options.step = 10
    - options.x = 50
    - options.y = 50
    - options.z = 0

    .col-md-6
      +slider_input('vectorInput', options)

block morefoot
  script.
    $(document).ready(function() {
      init_vector_intro();
    });
