///////////////////////////////////////////////////////////////////////////////
// page layout
///////////////////////////////////////////////////////////////////////////////

$header-color: #993366
$header-padding: 20px

$sidebar-color: #F6F6F6
$sidebar-width: 250px
$sidebar-padding: 25px

$content-color: #F0F0F0
$content-padding: 50px

$footer-color: #9c9

body, html
    margin: 0
    padding: 0
    color: #000
    background: $sidebar-color

    #header
        padding: $header-padding
        background: $header-color
        #header_link
            text-decoration: none

    #wrap
        padding-right: $sidebar-width
        #sidebar
            //position: fixed
            position: absolute
            background: $sidebar-color
            width: $sidebar-width
            padding: $sidebar-padding
        #content
            position: absolute
            left: $sidebar-width
            right: 0
            padding: $content-padding
            background: $content-color

///////////////////////////////////////////////////////////////////////////////
// inputs - sliders
///////////////////////////////////////////////////////////////////////////////

.slider-input-container
  &.slider-input-container-X
     color: red
  &.slider-input-container-Y
     color: green
  &.slider-input-container-Z
     color: blue

canvas.center
    padding-left: 0
    padding-right: 0
    margin-left: auto
    margin-right: auto
    display: block

.text-center
    text-align: center
