///////////////////////////////////////////////////////////////////////////////
// page layout
///////////////////////////////////////////////////////////////////////////////

@mixin transition($transition)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition

$header-color: #993366
$header-padding: 20px
$header-height: 100px

$sidebar-color: #F6F6F6
$sidebar-padding: 25px

$sidebar-toggle-width: 15px

$sidebar-active-width: 250px
$sidebar-inactive-width: 0px
$sidebar-transition: 1s

$content-color: #F0F0F0
$content-padding: 50px

$footer-color: #9c9

body, html
    margin: 0
    padding: 0
    color: #000
    background: $content-color

#sidebar
  @include transition(width $sidebar-transition)
  .sidebar_active &
    width: $sidebar-active-width
  .sidebar_inactive &
    width: $sidebar-inactive-width

  position: fixed
  left: 0
  background: $sidebar-color
  height: 100%

  #header
      width: 100%
      padding: $header-padding
      background: $header-color
      #header_link
          text-decoration: none
  #sidebarContent
      top: $header-height
      padding: $sidebar-padding

#sidebarToggle
  cursor: pointer
  position: fixed
  @include transition(left $sidebar-transition)
  .sidebar_active &
    left: $sidebar-active-width
  .sidebar_inactive &
    left: $sidebar-inactive-width
  width: $sidebar-toggle-width
  height: 100%
  background-color: #aaaaaa
  #sidebarPull
    position: relative
    top: 50%

#content
  @include transition(left $sidebar-transition)
  .sidebar_active &
    left: ($sidebar-active-width + $sidebar-toggle-width)
  .sidebar_inactive &
    left: ($sidebar-inactive-width + $sidebar-toggle-width)

  position: absolute
  right: 0
  height: 100%
  padding: $content-padding
  background: $content-color

///////////////////////////////////////////////////////////////////////////////
// inputs - sliders
///////////////////////////////////////////////////////////////////////////////

.constant-input
  .input-val
    width: 20px
    display: inline-block
  .input
    position: relative;
    display: inline-block;
    width: auto;
    /* margin-left: 10px; */
    left: 10px;

.center
    text-align: center
    margin-left: auto
    margin-right: auto

canvas
  width: 100%
  &.center
    padding-left: 0
    padding-right: 0
    margin-left: auto
    margin-right: auto
    display: block

.text-center
    text-align: center
