.slider-input
  span.slider-name X
  input#sliderX(type='range', min='-10' max='10' step='1')

.slider-input
  span.slider-name Y
  input#sliderY(type='range', min='-10' max='10' step='1')

.slider-input
  span.slider-name Z
  input#sliderZ(type='range', min='-10' max='10' step='1')

canvas#mainCanvas
